@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root{
    --cyan: #4cdcdc;
    --black: #112121;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --back: linear-gradient( var(--black),var(--cyan),var(--black));
}

*{
    font-family: 'Raleway', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

.dishes,
.menu,
.review,
.order{
    background:var(--black);
}

.footer{
    background: #eee;
}

.sub-heading{
    text-align: center;
    color: var(--cyan);
    font-size: 2rem;
    padding-top: 2rem;
}

.heading{
    text-align: center;
    color: silver;
    font-size: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: 3rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--cyan);
    letter-spacing: .1rem;
}


#search-form{
    position: fixed;
    top:-110%; left:0;
    height:100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: var(--cyan);
}

#search-form #search-box ::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor : pointer;
    font-size: 2.5rem;
}

#search-form label:hover{
    color: var(--cyan);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 4rem;
}






header{
    position: fixed;
    align-items:center;
    justify-content: space-between;
    z-index: 1000;
    
    top: 0; left: 0; right: 0;
    background-color: #fff;
    padding: 1rem 7%;
    display: flex;
    box-shadow:var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--cyan);
}

header .icons #menu-bars{
    display: none;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--cyan);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--cyan);
    transform: rotate(360deg); 
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 1rem;
}

.home .home-slider .slide .content span{
    color: var(--cyan);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 7rem;
}


.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2rem;
    padding: .5rem 0;
    line-height: 1.;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--black);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 5px;
    stroke: var(--cyan);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  .swiper-pagination-bullet-active{
    background: var(--cyan);
  }

  .dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax( 28rem, 1fr));
    gap: 2rem;
  }

  .dishes .box-container .box{
    padding: 3rem;
    background: #fff;
    border-radius:1.5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
  }

  .dishes .box-container .box .fa-heart,
  .dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
  }

  
  .dishes .box-container .box .fa-heart:hover{
    background: var(--cyan);
    color: #fff;
  }
  .dishes .box-container .box .fa-eye:hover{
    background: var(--light-color);
    color:  #fff;
  }
  
  .dishes .box-container .box .fa-heart{
    right: -15rem;
  }
  
  .dishes .box-container .box .fa-eye{
    left: -15rem;
  }


  
  .dishes .box-container .box:hover .fa-heart{
    right: 1rem;
    top: 1rem;
  }
  
  .dishes .box-container .box:hover .fa-eye{
    left: 1rem;
    top: 1rem;
  }

  .dishes .box-container .box img{
    height:15rem;
    margin: 0rem;
    padding-bottom: 1rem;
  }

  .dishes .box-container .box h3{
    color: var(--black);
    font-size: 2.25rem;
  }

  .dishes .box-container .box a{
    font-size: 1.25rem;
  }
  .dishes .box-container .box .stars{
    padding: 1rem 0;
  }
  
  .dishes .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--cyan);
  }

  .dishes .box-container .box span{
    color: var(--light-color);
    font-weight: holder;
    margin-right: 1.5rem;
    font-size: 2rem;
  }

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items:center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 69%;
    padding-left: 30.5%;
}

.about .row content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;   
}

.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}


.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}


.about .row .content .icons-container .icons{
    background: #fff;
    border-radius: 3rem;
    border:.2rem solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}


.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--cyan);
}


.about .row .content .icons-container .icons span{
    font-size: 1.75rem;
    color: var(--black);
}


.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax( 30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    background: #fff;
    border: .1rem solid var(--black);
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box .image{
    height: 20rem;
    width:100%;
    padding: 1rem;
    overflow: hidden;
}

.menu .box-container .box .image img{
    background: #eee;
    height:100%;
    width:100%; 
    border-radius: 1.5rem;
    object-fit:cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    background: #fff;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    margin-left: -4.5rem;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    line-height: 4.25rem;
    font-size: 2.5rem;
    color: var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    color: #eee;
    background-color: var(--cyan);
}
.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 1.5rem;
}

.menu .box-container .box .content .stars{
    padding-bottom: 2rem;
}

.menu .box-container .box .content .stars i{
    font-size: 1.25rem;
    color: var(--cyan);
}

.menu .box-container .box .content .stars .price{
    font-size: 1.5rem;
    margin-left: 13rem;
    color: var(--light-color);
    font-style: italic;
}


.menu .box-container .box .content h3{
    color: var(--black);
    font-size:2.01rem;
    margin: auto;
    width: 50%;
    padding-bottom: 0rem;
}


.menu .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}


.menu .box-container .box .content .price{
    color: var(--light-color);
    margin-left: 1rem;
    font-size: 2rem;
}



.review .box-container .box{
    padding: 2rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border:.2rem solid rgba(0,0,0,.2);
    border-color: var(--light-color);
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.review .box-container .box:hover{
    .fa-quote-right{
        color: var(--cyan);
    }
}


.review .box-container .box:hover {
    border-bottom-right-radius: 75px;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 20px solid var(--cyan);
    border-right: 20px solid var(--cyan);
    box-shadow: 28px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.review .box-container .fa-quote-right{
    position: absolute;
    top:2rem;
    right:2rem;
    font-size:6rem;
    color:#ccc;

}

.review .box-container .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .box-container .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    background: #ccc;
}

.review .box-container .user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .box-container .user i{
    margin-top: .05rem;
    font-size: 1.3rem;
    color: var(--cyan);
}

.review .box-container p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

.order form{
    max-width:90rem;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin:0 auto;
    margin-bottom: 5rem;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width:49%;
}

.order form .inputBox .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--black);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}

.order form .inputBox .btn{
    margin-top: 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 1.5rem;
}


.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}


.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}


.footer .box-container .box a:hover{
    color: var(--cyan);
    text-decoration: underline;
}


.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.footer .credit span{
    color: var(--light-color);
}


.footer .credit:hover{
    font-weight: 700 !important;
    letter-spacing: 1.5px;
    background: none;
    box-shadow: 0px 5px 40px -10px var(--cyan);
    transition: all 0.3s ease 0s;
    padding-bottom: 1.5rem;
}

  

@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2rem;
    }
    
    section{
        padding:1rem 2rem;
    }

}


@media (max-width:768px){
        

    
header{
    position: fixed;
    align-items:center;
    justify-content: space-between;
    z-index: 1000;
    
    top: 0; left: 0; right: 0;
    background-color: #fff;
    padding: 1rem 7%;
    display: flex;
    box-shadow:var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 1.25rem;
    font-weight: bolder;
}
header .logo i{
    color:var(--cyan);
}

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }
    
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2.2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 80%;
        margin:0 1.5rem;
    }

        
    #search-form #close{
        position: absolute;
        color: #fff;
        cursor: pointer;
        top: 2rem; right: 2rem;
        font-size: 3rem;
    }



.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    font-size: 2rem;
}

.home .home-slider .slide .content h3{
    font-size: 3rem;
}


.home .home-slider .slide .content p{
    font-size: 1.5rem;
}

.btn{
    font-size: 1rem;
}


}
